@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Annapurna SIL", serif;
}
body
{
    background-color: black;
}
/******** Navbar CSS Starts ********/
nav{
    background-color: black;
}
nav:after
{
    content: '';
    clear: both;
    display: table;
}
nav .logo
{
    float: left;
    color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}
nav .logo a
{
    text-decoration: none;
    color: inherit;
}
nav i
{
    margin-right: 10px;
}
nav ul
{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li
{
    float: left;
    background: black;
    margin: 0 5px;
}
nav ul li a
{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover
{
    color: #16FF00;
    border-radius: 5px;
    box-shadow: 0 0 5px #16FF00,
                0 0 5px #16FF00;
}
nav ul ul li a:hover
{
    color: #16FF00;
    box-shadow: none;
}
nav ul ul
{
    position: absolute;
    top: 90px;
    border-top: 3px solid #16FF00;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav ul ul ul
{
    border-top: none;
}
nav ul li:hover > ul
{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li
{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul ul li a
{
    line-height: 50px;
}
nav ul ul ul li
{
    position: relative;
    top: -70px;
    left: 150px;
}
.show,.icon
{
    display: none;
}
nav input
{
    display: none;
}
@media all and (max-width: 968px)
{
    nav ul
    {
        margin-right: 0px;
        float: left;
    }
    nav .logo
    {
        padding-left: 30px;
        width: 100%;
    }
    nav ul li, nav ul ul li
    {
        display: block;
        width: 100%;
    }
    nav ul ul
    {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul ul li
    {
        position: static;
    }
    nav ul ul li
    {
        border-bottom: 0px;
        margin-left: 30px;
    }
    nav ul ul ul a
    {
        padding-left: 80px;
    }
    .show
    {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover
    {
        color: #16FF00;
    }
    .icon
    {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul li a:hover
    {
        box-shadow: none;
    }
    .show + a, ul
    {
        display: none;
    }
    [id^=btn]:checked + ul
    {
        display: block;
    }
}
/******** Navbar CSS Ends ********/
/******** Interests Info CSS Starts ********/
.container {
    background-color: #ffffff;
    width: 80vw;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
  }
  .search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
  }
  .search-wrapper button {
    font-size: 1em;
    background-color: #3d64e6;
    color: #ffffff;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
  }
  .search-wrapper input {
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
  }
  #result {
    margin-top: 1.25em;
  }
  .container .flag-img {
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
  }
  .container h2 {
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
  }
  .data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
  }
  .container h4 {
    display: inline;
    font-weight: 500;
    color: #222a43;
  }
  .container span {
    color: #5d6274;
  }
  .container h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
  }
/******** Interests Info CSS Ends ********/
/******** Footer CSS Starts ********/
footer
{
    text-align: center;
}
footer p
{
    color: white;
    font-size: 17px;
    margin: 15px 0 15px 0;
}
/******** Footer CSS Starts ********/