@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Annapurna SIL", serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
/******** Login CSS Starts ********/
.container
{
    position: relative;
    width: 500px;
    height: 420px;
    background-color: transparent;
    border: 2px solid #16ff00;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0 45px;
    overflow: hidden;
}
.container .login-box
{
    position: relative;
    width: 100%;
}
.login-box .page-box
{
    display: flex;
    flex-direction: column;
}
.page-box .page
{
    width: 100%;
}
.page-box .page.email-page
{
    transform: translateX(0);
    transition: .25s ease-in-out;
}
.page-box.active-pass .page.email-page
{
    transform: translateX(-500px);
}
.page-box .login-title
{
    text-align: center;
    color: white;
    margin-bottom: 40px;
}
.login-title h2
{
    font-size: 32px;
    line-height: 1.5;
}
.page .input-box
{
    position: relative;
    width: 100%;
    height: 55px;
}
.input-box input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    padding: 0 16px;
    transition: .3s ease;
}
.input-box input:focus,
.input-box input:valid
{
    border-color: #16ff00;
}
.show
{
    margin: 10px 0 70px;
    display: flex;
    justify-content: space-between;
}
.show label
{
    font-size: 14.5px;
    color: white;
    cursor: pointer;
}
.show label input
{
    accent-color: #16ff00;
    cursor: pointer;
    margin-right: 3px;
}
.btn-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-box button
{
    width: 90px;
    height: 40px;
    background: #16ff00;
    border: 2px solid #16ff00;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}
.btn-box button:nth-child(1)
{
    background: transparent;
    color: #16ff00;
}
.btn-next
{
    margin-top: 15px;
}
/******** Login CSS Starts ********/