<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles/iletisim.css">
    <link rel="shortcut icon" href="assets/hacker.png" type="image/x-icon">
    <title>N.A. | İletişim</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
        <!--============Navbar Starts============-->
        <nav>
            <div class="logo"><i class="fa-solid fa-user-secret"></i><a href="index.php">N.A.</a></div>
            <label for="btn" class="icon">
                <span class="fa fa-bars"></span>
            </label>
            <input type="checkbox" id="btn">
            <ul>
                <li><a href="ozgecmisim.html">Özgeçmişim</a></li>
                <li>
                    <label for="btn-1" class="show">Şehrim +</label>
                      <a href="sehrim.html">Şehrim</a>
                      <input type="checkbox" id="btn-1">
                  <ul>
                      <li><a href="takimimiz.html">Takımımız</a></li>
                      <li><a href="mirasimiz.html">Mirasımız</a></li>
                  </ul>
                </li>
                <li><a href="ilgialanlarim.html">İlgi Alanlarım</a></li>
                <li><a href="iletisim.html">İletişim</a></li>
                <li><a href="login.php">Giriş Yap</a></li>
            </ul>
        </nav>
        <!--============Navbar Ends============-->
        <!--============Contact Starts============-->
        <div><hr></div>
        <section id="app" class="contact">
            <h3 style="margin-top: 30px;">İletişim</h3>
            <div v-if="!submitted">
                <form id="contactForm" @submit.prevent="vueSubmit">
                    <div class="input-box">
                        <div class="input-field field">
                            <input type="text" placeholder="Adınız Soyadınız" id="name" name="name" v-model="name" class="item" autocomplete="off">
                            <div v-if="errors.name" class="text-danger" style="color: red; font-size: 14px;">{{ errors.name }}</div>
                        </div>
                        <div class="input-field field">
                            <input type="text" placeholder="Email adresiniz" id="email" name="email" v-model="email" class="item" autocomplete="off">
                            <div v-if="errors.email" class="text-danger" style="color: red; font-size: 14px;">{{ errors.email }}</div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div class="input-field field">
                            <input type="text" placeholder="Telefon numaranız" id="phone" name="phone" v-model="phone" class="item" autocomplete="off">
                            <div v-if="errors.phone" class="text-danger" style="color: red; font-size: 14px;">{{ errors.phone }}</div>
                        </div>
                        <div class="input-field field">
                            <input type="text" placeholder="Konu" id="subject" name="subject" class="item" v-model="subject" autocomplete="off">
                            <div v-if="errors.subject" class="text-danger" style="color: red; font-size: 14px;">{{ errors.subject }}</div>
                        </div>
                    </div>
                    <div class="textarea-field field">
                        <textarea name="message" id="message" v-model="message" cols="30" rows="10" placeholder="Mesajınız" class="item" autocomplete="off"></textarea>
                        <div v-if="errors.message" class="text-danger" style="color: red; font-size: 14px;">{{ errors.message }}</div>
                    </div>
                    <button type="button" style="margin-right: 10px;" onclick="jsSubmit()">Gönder</button><button type="submit" style="margin-right: 10px;">Gönder (Vue.Js)</button>
                    <button type="reset" style="margin-left: 10px;">Yenile</button>
                </form>
            </div>
            <div v-if="submitted">
                <div style="margin: 50px auto; max-width: 600px;">
                    <table style="width: 100%; border-collapse: collapse; border: 2px solid #16ff00; border-radius: 10px;">
                        <tr>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-weight: bold; font-size: 20px;">Ad Soyad</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">:</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">{{ name }}</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-weight: bold; font-size: 20px;">Email adresiniz</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">:</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">{{ email }}</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-weight: bold; font-size: 20px;">Telefonunuz</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">:</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">{{ phone }}</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-weight: bold; font-size: 20px;">Konu</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">:</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">{{ subject }}</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-weight: bold; font-size: 20px;">Mesajınız</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">:</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">{{ message }}</td>
                        </tr>
                    </table>
                    <button type="submit" class="btn-home" onclick="redirectToHakkimda()">Anasayfaya dön</button>
                    <h5 style="margin: 30px 0 0 0;">Mesajınız alınmıştır. Bir kaç gün içerisinde dönüş sağlanacaktır!</h5>
                    <script>
                        function redirectToHakkimda() {
                            window.location.href = "hakkimda.php";
                        }
                    </script>
                </div>
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script>
    function jsSubmit() 
    {
        var name = document.getElementById('name').value;
        var email = document.getElementById('email').value;
        var phone = document.getElementById('phone').value;
        var subject = document.getElementById('subject').value;
        var message = document.getElementById('message').value;
        var errors = {};

        if (!name) 
        {
            errors.name = "Ad Soyad boş bırakılamaz";
        }
        if (!email) 
        {
            errors.email = "Email adresi boş bırakılamaz";
        } 
        else 
        {
            var mailFormat = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            if (!mailFormat.test(email)) 
            {
                errors.email = "Lütfen geçerli email adresi giriniz";
            }
        }
        if (!phone) 
        {
            errors.phone = "Telefon numarası boş bırakılamaz";
        } 
        else 
        {
            var phoneFormat = /^\d{10}$/;
            if (!phoneFormat.test(phone)) 
            {
                errors.phone = "Lütfen geçerli telefon numarası giriniz";
            }
        }
        if (!subject) 
        {
            errors.subject = "Konu boş bırakılamaz";
        }
        if (!message) 
        {
            errors.message = "Mesaj boş bırakılamaz";
        }

        if (Object.keys(errors).length === 0) 
        {
            alert('Form başarıyla gönderildi!');
            document.getElementById('contactForm').style.display = 'none';
            var resultContainer = document.createElement('div');
            resultContainer.innerHTML = `
            <div style="margin: 50px auto; max-width: 600px;">
                    <table style="width: 100%; border-collapse: collapse; border: 2px solid #16ff00; border-radius: 10px;">
                        <tr>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-weight: bold; font-size: 20px;">Ad Soyad</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">:</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">${name}</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-weight: bold; font-size: 20px;">Email adresiniz</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">:</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">${email}</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-weight: bold; font-size: 20px;">Telefonunuz</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">:</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">${phone}</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-weight: bold; font-size: 20px;">Konu</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">:</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">${subject}</td>
                        </tr>
                        <tr>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-weight: bold; font-size: 20px;">Mesajınız</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">:</td>
                            <td style="padding: 6px; border: 1px solid #16ff00; font-size: 20px;">${message}</td>
                        </tr>
                    </table>
                    <button type="submit" class="btn-home" onclick="redirectToHakkimda()">Anasayfaya dön</button>
                    <h5 style="margin: 30px 0 0 0;">Mesajınız alınmıştır. Bir kaç gün içerisinde dönüş sağlanacaktır!</h5>
                </div>
            `;
            document.querySelector('section').appendChild(resultContainer);
        } 
        else 
        {
            if (errors.name) alert(errors.name);
            if (errors.email) alert(errors.email);
            if (errors.phone) alert(errors.phone);
            if (errors.subject) alert(errors.subject);
            if (errors.message) alert(errors.message);
        }
    }
    new Vue({
        el: '#app',
        data: {
            name: '',
            email: '',
            phone: '',
            subject: '',
            message: '',
            errors: {},
            submitted: false
        },
        methods: 
        {
            vueSubmit() 
            {
                this.errors = {};

                if (!this.name) 
                {
                    this.errors.name = "* Ad ve Soyad boş bırakılamaz";
                }
                if (!this.email) 
                {
                    this.errors.email = "* Email adresi boş bırakılamaz";
                } 
                else if (!this.validEmail(this.email)) 
                {
                    this.errors.email = "* Lütfen geçerli email adresi giriniz";
                }
                if (!this.phone) 
                {
                    this.errors.phone = "* Lütfen geçerli telefon numarası giriniz";
                } 
                else if (!this.validPhone(this.phone)) 
                {
                    this.errors.phone = "* Geçerli telefon numarasi giriniz";
                }
                if (!this.subject) 
                {
                    this.errors.subject = "* Konu boş bırakılamaz";
                }
                if (!this.message) 
                {
                    this.errors.message = "* Mesaj boş bırakılamaz";
                }

                if (Object.keys(this.errors).length === 0) 
                {
                    this.submitted = true;
                }
            },
            validEmail(email) 
            {
                var re = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
                return re.test(email);
            },
            validPhone(phone) 
            {
                var er = /^\d{10}$/;
                return er.test(phone);
            },
        }
    });
        </script>
        <!--============Contact Ends============-->
        <!--============Footer Starts============-->
        <footer>
            <div><hr></div>
            <p><i class="fa-regular fa-copyright" style="color: #ffffff;"></i> 2024 Personal, Inc</p>
         </footer>
        <!--============Footer Ends============-->
</body>
</html>